.footer {
  margin-top: rem(120px);
  padding-top: rem(80px);
  padding-bottom: rem(80px);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), transparent);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
}

.copyright {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-md);
  }
}
